# remove everything
*
# not remove the following 

!.gitmodules
!.gitconfig
!.gitignore

!.config

!.bashrc
!.bash_profile

!.emacs.d
!.spacemacs
!.spacemacs.d
!.spacemacs.d/init.el
!.spacemacs.d/steamedfish.el
!.spacemacs.d/steamedfish-init.el
!.spacemacs.d/layers
!.spacemacs.d/BlueFish.png

!.vim
!.vimrc
.vim/undo
.vim/backup
.netrwhist
!.vim/autocmd.vim
!.vim/keymaps.vim
!.vim/macvim.vim
!.vim/plugin.vim
!.vim/scripts.vim
!.vim/settings.vim
!.vim/vundle.vim
!.vim/bundle
!.vim/bundle/Vundle.vim

!Library
!Library/Rime
!Library/Rime/squirrel.custom.yaml
!Library/Rime/default.custom.yaml

!.ssh
!.ssh/config

!.lftprc

!bin
!bin/auth
!bin/update
!bin/gssh
!bin/macflush
!bin/macinit

!.config/powerline
!.config/powerline/config.json

!.config/neofetch
!.config/neofetch/config.conf
