[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule ".vim"]
	path = .vim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule "cider"]
	path = cider
	url = https://github.com/msanders/cider.git
